---
import { Icon } from 'astro-icon/components';

type Type = 'note' | 'info' | 'tip' | 'important' | 'warning' | 'danger';

interface Props {
	type: Type;

	title: string;
}

const icons: Record<Type, string> = {
	note: "material-symbols:note",
	info: "ph:info-fill",
	tip: "ic:baseline-lightbulb",
	important: "zondicons:exclamation-solid",
	warning: "ph:warning-fill",
	danger: "ri:fire-fill",
}

const styles: Record<Type, string> = {
	note: "dark:bg-white/10 bg-white/30 border-gray-300 dark:border-white/25",
	info: "bg-blue-400/50 border-blue-400",
	tip: "bg-green-400/50 border-green-400",
	important: "bg-purple-400/50 border-purple-400",
	warning: "bg-yellow-400/50 border-yellow-400",
	danger: "bg-red-400/50 border-red-400",
};

const { type, title } = Astro.props;
---

<div class={`grid grid-cols-[5fr_1fr] gap-y-4 rounded-lg border p-3 post:mb-5 ${styles[type]}`}>
	<h1 class="flex items-center gap-2 text-lg font-semibold">
		<span class="inline-block"><Icon name={icons[type]} width={24} height={24} /></span>
		{title}
	</h1>
	<div class="flex flex-col gap-y-5 col-span-2">
		<slot />
	</div>
</div>