---
import { Image } from 'astro:assets';
import ProfilePicture from "@assets/pfp.webp";
import SocialButton from '@components/internal/SocialButton.astro';
---

<header class="mb-4">
	<a href="/">
		<Image class="w-32 h-32 rounded-3xl inline" src={ProfilePicture} alt="Me" priority />
		<p class="sr-only">Button to go back to home page</p>
	</a>
	<h1 class="text-zinc-800 dark:text-zinc-100 text-5xl font-title tracking-wide font-bold mt-4 transition-colors duration-200">
		Joshua Clements
	</h1>
	<div class="flex flex-row gap-2 mt-2 items-center">
		<p class="text-zinc-800 dark:text-zinc-100 text-xl font-semibold transition-colors duration-200">Software Developer</p>
		<div class="flex flex-row gap-2">
			<SocialButton link="mailto:josh@penpow.dev" alt="Email link" icon='ic:round-email' />
			<SocialButton link="https://www.github.com/PenPow" alt="Github profile link" icon='mdi:github' />
			<SocialButton link="https://www.discord.com/users/207198455301537793" alt="Discord profile link" icon='ic:baseline-discord' />
		</div>
	</div>
</header>
