---
import { projects } from "@site-config";
import ProjectCard from "@components/internal/ProjectCard.astro";
---

<div class="my-2 grid w-full max-w-3xl grid-cols-1 gap-2 md:grid-cols-2">
	{projects.map(project => (<ProjectCard project={project} />))}
</div>